#cont{
	border: 1px solid #CCCCCC;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
}

#titlesus{
	margin: 10px;
	padding: 10px;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	background: #F4F4F4;
}

.titlesus_h{
	margin: 0;
	color: #146295;
	font-size: 22px;
	font-family: Arial;
	font-weight: bold;
}

.add_data{
	}

.ttext{
	width: 350px;
	padding: 3px;
}

.tarea{
	width: 350px;
	height: 60px;
	max-height: 60px;
	max-width: 350px;
	padding: 3px;
}	

.fs{
	border-radius: 10px;
	border: 1px solid #CCCCCC;
	width: 650px;

}

.number1{
	width: 300px;
	padding: 0 12px 0 0;
	margin: 0 12px 0 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	height: 35px;
	margin-left: 10px;
	padding: 10px;
}
.number11{
	height:70px;
}

.legend{
	font-family: Arial, Helvetica, sans-serif;
	color: #146295;
	font-size: 15px;
}


.buttonw{
	border:1px solid #f4f4f4;
	border-radius:  5px;
	width: 100px;
	height: 30px;
	font-weight: bold;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	margin: 10px;
	color: #00560E;

	-moz-transition: color 1s ease-in-out, background 1s ease-in-out;
	-webkit-transition: color 1s ease-in-out, background 1s ease-in-out;
	-o-transition: color 1s ease-in-out, background 1s ease-in-out;
	transition: color 1s ease-in-out, background 1s ease-in-out;
	}
.buttonw:hover{
	border: 1px solid #CCCCCC;
	border-radius:  5px;
	width: 100px;
	height: 30px;
	font-weight: bold;
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
	
	color: #000000;
	background: #FF8C00;
	
	-moz-transition: color 1s ease-in-out, background 1s ease-in-out;
	-webkit-transition: color 1s ease-in-out, background 1s ease-in-out;
	-o-transition: color 1s ease-in-out, background 1s ease-in-out;
	transition: color 1s ease-in-out, background 1s ease-in-out;
}

.asdasd:hover{
	background: #D4FFD0;
	border: 1px solid #D4FFD0;
}
.star{
	color: red;
	}
	
.errors{
	color: #CD0000;
	border: 3px solid #DE7A7B; 
	background-color: #E6C0C0; 
	border-radius: 10px; 
	padding: 10px; 
	margin: 10px;
}